@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.jumbotron-fluid {
  min-height: 100vh;
  background: rgb(140, 33, 49);
  color: white;
  padding: 100px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 100;
}
h1 + p {
  margin-bottom: 50px;
}
.title {
  font-weight: 700;
  text-align: center;
}
.plus-minus {
  background-color: transparent;
  color: white;
  font-size: 24px;
  border: none;
  outline: none;
}
.plus-minus:focus {
  outline: none;
}
.reset-btn {
  background: white;
  border-radius: 5px;
  margin-top: 60px;
  outline: none;
}
.reset-btn:focus {
  outline: none;
}
#timer-area {
  display: block;
  background: linear-gradient(white 0%, white 100%);
  color: black;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 0 5px black;
  border: 2px solid white;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin: 50px auto;
  padding: 80px 0;
}
#timer-title, #timer {
  text-align: center;
  font-weight: 700;
}